body {
  background-image: url(images/water2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  width: 80px;
  height: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  height: 75px;
}

.header-nav {
  display: flex;
  gap: 15px;
  padding: 0 20px;
}

.header-nav a {
  color: salmon;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
}

h1 span {
  display: block;
  color: bisque;
}

main {
  display: flex;
}

.intro-image {
  padding: 20px;
}

.intro {
  width: 300px;
  height: 500px;
}

.intro-content {
  width: 800px;
  margin-top: 400px;
  border: 2px solid salmon;
  border-radius: 8px;
  padding: 25px;
  margin-top: -0.1px;
}

.section-title {
  color: salmon;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.intro-content p {
  color: cyan;
  line-height: 1.5;
  font-size: 18px;
}

hr {
  margin: 50px 0;
  border: 1px solid white;
}

.about {
  display: flex;
  background-color: salmon;
  padding: 20px;
}

.about-image img {
  width: 400px;
  height: 700px;
}

.about-content {
  width: 700px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  border: 2px solid bisque;
  border-radius: 8px;
}

.about-content .section-title {
  color: bisque;
}
